<body>
  <nav>

    <h2>EVENCE EVENTS</h2>

    <!-- Botão dos tres risquinhos -->
    <button>Exemplo</button>
  </nav>
  <!-- Barra de Pesquisa -->
  <section>
    <span>
      <!-- agulha de mapa -->
      <img src="" alt="">
      Qualquer Lugar
    </span>
  </section>

  <!-- Carrossel -->
  <section>
    <img src="" alt="">

    <!-- detalhes do evento carrinho -->
    <div>
      <h3>Titulo</h3>
      <span>Local</span>
      <span>Data</span>
    </div>
  </section>

  <!-- Coleçoes -->
  <section>
    <div>
      <h3>Explore nossas coleçoes</h3>
      <span>Ver tudo</span>
    </div>

    <div>
      <img src="" alt="">
      <span>Festas e Shows</span>
    </div>




  </section>



</body>